<div id="footer" class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <p>
        This site runs on <a href="http://github.com/kadamwhite/expresspress">ExpressPress</a>, an open-source demonstration of how to use <a href="http://expressjs.com/">Express.js</a> to serve content from a <a href="http://wordpress.org">WordPress</a> website via the <a href="http://github.com/WP-API/WP-API">WP-API</a>.
      </p>
    </div>
  </div>
</div>
