<div class="row">
  <div class="col-md-12">
    <header>
      <h1>
        <a href="/" title="Home">
          {{site.name}}
        </a>
      </h1>

      <p>{{site.description}}</p>
    </header>
  </div>
</div>
