{%if categories %}
<div id="sidebar-categories">
<h3>Categories</h3>
<ul>
  {%each categories as category %}
  <li>
    <a href="/categories/{{category.slug}}">
      {{{category.name}}}
    </a>
  </li>
  {%endeach%}
</ul>
</div>
{%endif%}

{%if tags %}
<div id="sidebar-tags">
<h3>Tags</h3>
<ul>
  {%each tags as tag idx %}
  {%-- Render out the first 30 tags... --%}
  <li>
    <a href="/tags/{{tag.slug}}">
      {{{tag.name}}}
    </a>
  </li>
  {%-- After 30 tags, start a new list --%}
  {%if idx == 28%}
</ul>
<ul id="more-tags" class="collapsed">
  {%endif%}
  {%endeach%}
</ul>
{%if tags.length > 20%}
<button id="toggle-all-tags" class="btn btn-default btn-sm">
  <span>Show All</span>
  <span class="hidden">Collapse</span>
  Tags
</button>
</div>
{%endif%}
{%endif%}
