<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <p>{{message}}</p>
    <h2>{{error.status}}</h2>
    <pre>{{{error.stack}}}</pre>
  </body>
</html>
