<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>
      {{ message }}
      <small>{{ error.status }}</small>
    </h1>
    {%if error.stack %}
    <pre>{{{ error.stack }}}</pre>
    {%endif%}
  </body>
</html>
